.profile-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  flex: 0.8;
  position: relative;

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    flex: 0.9;
  }

  @media only screen and (max-width: 600px) {
    flex: 1;
  }

  label {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: var(--sub-icon);
    margin-left: 0.3rem;
  }
}