.screen-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 24px;
  background: #333333;
  max-width: 500px;
  min-width: 100px;
  height: 100vh;
  max-height: 660px;
  display: flex;
  justify-content: flex-end;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.auth-container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding-left: 10%;
  margin: 0 auto;
}

.social-profile-paragraph {
  flex: 0.1;
  text-align: center;
  font-family: NotoSansRegular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

#social-profiles {
  width: 90%;
  padding-right: 10%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.social-login {
  flex: 0.8;
  text-align: center;
  font-family: NotoSansRegular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

#social-profiles > li:hover {
  cursor: pointer;
}

#social-profiles-text {
  color: #828282;
  font-style: italic;
}
