.header {
  flex: 0.8;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2ch;
  font-family: NotoSansRegular;
  font-style: normal;
  color: #e0e0e0;
}

.header > h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.header > h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
