.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.back-button {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--nav-button-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;

  span {
    display: inline-block;
    cursor: pointer;
  }
}

.arrow-left {
  border: solid var(--nav-button-primary);
  border-width: 0 0.2rem 0.2rem 0;
  padding: 4px;
  transform: rotate(135deg);
}

.form-container {
  border: 1px solid var(--border-primary);
  box-sizing: border-box;
  position: relative;
  border-radius: 24px;
  margin: 0 auto;
  background: var(--background-screen);
  width: 100%;
  max-width: 500px;
  padding: 30px;
  font-family: NotoSans;

  @media screen and (max-width: 500px) {
    border-left: none;
    border-right: none;
  }

  #header {
    margin-bottom: 30px;
  }

  #main {
    margin-bottom: 10px;
    position: relative;
  }

  h2,
  p {
    margin-bottom: 5px;
    font-family: NotoSansRegular;
    color: var(--text-secondary);
    font-style: normal;
    text-align: center;
    font-size: 16px;
  }

  h2 {
    font-weight: 600;
    line-height: 24px;
  }

  p {
    font-weight: 400;
    line-height: 22px;
  }

  input[type='submit'] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: var(--background-button);
    opacity: 0.8;
    color: var(--text-buttonWithBackground);
    border: none;
    font-family: NotoSansRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }

  input[type='submit']:hover {
    opacity: 1;
  }

  input[data-loading='true'] {
    opacity: 0.4;
    cursor: not-allowed !important;
    pointer-events: none;
  }
}

#submitBox {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
