@font-face {
  font-family: NotoSansRegular;
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSansItalic;
  src: url(./assets/fonts/NotoSans-Italic.ttf);
}

@font-face {
  font-family: NotoSansBold;
  src: url(./assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: NotoSansBoldItalic;
  src: url(./assets/fonts/NotoSans-BoldItalic.ttf);
}

.screen-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--background-screen);
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
