:root {
  --text-primary: #828282;
  --text-navigationLink: #2d9cdb;
  --text-buttonWithBackground: #fdfdfd;
  --background-button: #2f80ed;
  --border-primary: #bdbdbd;
}

.dark-theme {
  --border-icon: #e0e0e0 transparent transparent;
  --text-secondary: #e0e0e0;
  --background-screen: #333333;
}

.light-theme {
  --border-icon: #333 transparent transparent;
  --text-secondary: #333333;
  --background-screen: #fdfdfd;
}
