:root {
  --text-primary: #828282;
  --text-navigationLink: #2d9cdb;
  --text-buttonWithBackground: #fdfdfd;
  --background-button: #2f80ed;
  --border-primary: #bdbdbd;
  --side-border: #e0e0e0;
  --border-secondary: #d3d3d3;
  --nav-button-primary: #2d9cdb;
  --white: #ffffff;
  --red: red;
}

.dark-theme {
  --border-icon: #e0e0e0 transparent transparent;
  --text-secondary: #e0e0e0;
  --background-screen: #333333;
  --sub-icon: #b0b0b0;
  --background-list-item: #1f1f1f;
  --text-contrast: #fdfdfd;
  --input-border-focus: #ae3411;
  --input-border-focus-shadow: #fdfdfd;
}

.light-theme {
  --border-icon: #333 transparent transparent;
  --text-secondary: #333333;
  --background-screen: #fdfdfd;
  --sub-icon: #4f4f4f;
  --background-list-item: #e0e0e0;
  --text-contrast: #020202;
  --input-border-focus: #51cbee;
  --input-border-focus-shadow: #51cbee;
}
