.auth-container {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding-left: 10%;
  margin: 0 auto;
}

.auth-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: clamp(65%, 357px, 90%);
  position: relative;
}

#submitBox {
  flex: 0.8;
  margin-top: 5%;
  width: clamp(65%, 357px, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-item > input,
#submitBox > input {
  width: clamp(80%, 220vw, 100%);
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
}

#submitBox > input {
  border-radius: 8px;
}

.auth-item > input[type="password"]::placeholder,
.auth-item > input[type="email"]::placeholder {
  padding-left: 4px;
}

#submitBox > input[type="submit"] {
  background-color: var(--background-button);
  outline: none;
  border: none;
  color: var(--text-buttonWithBackground);
  font-family: NotoSansRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

#submitBox > input[type="submit"]:hover {
  cursor: pointer;
}
