$limit-font-mobile-width: 600px;

.account-menu {
  align-self: flex-start;
  user-select: none;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.account-menu-dropdown {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  cursor: pointer;

  span:nth-child(2) {
    margin-right: 0.5em;
    color: var(--text-secondary);
  }

  span:not(:first-child) {
    @media screen and (max-width: $limit-font-mobile-width) {
      display: none;
    }
    font-size: 16px;
  }
}

.caret {
  border-color: var(--border-icon);
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
  width: 0;
}

.caret.open {
  transform: rotate(180deg);
}

.account-menu-info-sub-menu {
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  top: 80%;
  opacity: 0;
  right: 15%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--side-border);
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.account-menu-info-sub-menu.open {
  z-index: 200;
  top: 140%;
  opacity: 1;
}

.account-menu-list-container {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 12rem;

  li {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    border-radius: 8px;

    span {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: var(--sub-icon);
      cursor: pointer;
    }
  }
}

.account-menu-icon {
  color: var(--sub-icon);
  cursor: pointer;
}

.divider {
  border-top: 1px solid var(--side-border);
  width: 100%;
}
