$limit-font-mobile-width: 600px;

.account-menu {
  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.account-menu-dropdown {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;

  @media screen and (max-width: $limit-font-mobile-width) {
    display: none;
  }

  span:nth-child(2) {
    margin-right: 0.5em;
  }

  span:not(:first-child) {
    font-size: 16px;
  }
}

.caret {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
  width: 0;
}

.caret.open {
  transform: rotate(180deg);
}
