$limit-font-mobile-width: 600px;

.account-menu {
  align-self: flex-start;
  user-select: none;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.account-menu-dropdown {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  cursor: pointer;

  span:nth-child(2) {
    margin-right: 0.5em;
    color: var(--text-secondary);
  }

  span:not(:first-child) {
    @media screen and (max-width: $limit-font-mobile-width) {
      display: none;
    }
    font-size: 16px;
  }
}

.caret {
  border-color: var(--border-icon);
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
  width: 0;
}

.caret.open {
  transform: rotate(180deg);
}

.account-menu-info-sub-menu {
  position: absolute;
  top: 80%;
  opacity: 0;
  left: 25%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  border-color: 2px solid green;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.account-menu-info-sub-menu.open {
  z-index: 200;
  top: 140%;
  opacity: 1;
  background-color: green;
}

.account-menu-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  max-width: 100%;
  height: 8rem;

  li {
    position: relative;
    max-width: 100%;
    background-color: red;
  }
}

.account-menu-icon {
  background-color: purple;
  color: var(--sub-icon);
}
