NODE_ENV=
DB_URI=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
SALT_SIZE=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET_EXPIRATION=
REFRESH_TOKEN_SECRET_EXPIRATION=
COOKIE_NAME=
COOKIE_SECRET=
EMAIL_SECRET=
EMAIL_TOKEN_EXPIRATION=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_URI_VERIFICATION=
EMAIL_HOST=
EMAIL_PORT=
RESET_PASS_COOKIE_NAME=
RESET_PASS_SECRET=
RESET_PASS_COOKIE_EXPIRATION_TIME=
RESET_PASS_URI=