NODE_ENV=
CLIENT_URI=
SERVER_URI=
DB_URI=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
SALT_SIZE=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET_EXPIRATION=
REFRESH_TOKEN_SECRET_EXPIRATION=
COOKIE_NAME=
COOKIE_SECRET=
EMAIL_USERNAME=
EMAIL_SECRET=
EMAIL_TOKEN_EXPIRATION=
EMAIL_URI_VERIFICATION=
RESET_PASS_COOKIE_NAME=
RESET_PASS_SECRET=
RESEND_API_KEY=
RESET_PASS_COOKIE_EXPIRATION_TIME=
RESET_PASS_URI=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_APP_REDIRECT_URI=
GITHUB_APP_ID=
GITHUB_APP_SECRET=
GITHUB_APP_REDIRECT_URI=
GITLAB_APP_ID=
GITLAB_APP_SECRET=
GITLAB_APP_REDIRECT_URI=
GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_APP_REDIRECT_URI=
DISCORD_APP_ID=
DISCORD_APP_SECRET=
DISCORD_APP_REDIRECT_URI=
COOKIE_NAME_SOCIAL_PROFILE=
LOG_LEVEL=