$button-primary: var(--nav-button-primary);
$button-save-background: var(--background-button);
$border-fieldset: var(--side-border);
$border-item: var(--text-primary);
$title-text: var(--text-contrast);
$label-text: var(--sub-icon);
$value-text: var(--text-secondary);
$placeholder-text: var(--border-primary);
