$border-row: var(--border-secondary);
$label-text: var(--border-primary);
$value-text: var(--text-secondary);

@mixin flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin value-column {
  flex: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Noto Sans";
  color: $value-text;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
}

.details-row {
  @include flex-row;
  justify-content: flex-start;
  border-top: 1px solid $border-row;
}

.details-label-column {
  margin-left: 5%;
  flex: 1;
  user-select: none;
  span {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $label-text;
  }
}

.details-value-column-image {
  @include value-column;
  @media only screen and (max-width: 600px) {
    margin-left: 5%;
  }
}

.details-value-column {
  @include value-column;
  margin-left: 5%;
}
