.developer-information {
  display: flex;
  position: absolute;
  bottom: 1.8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
}

.developer-information * {
  font-family: NotoSansRegular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-primary);
}

#developer-name {
  text-decoration: underline;
  cursor: pointer;
}
