.genericAvatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin: 10px;
  padding-right: 4px;
}

.invertWhite {
  filter: invert(100%);
}

.userIcon {
  inline-size: 32px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10%;
  margin: 10px;
  padding-right: 4px;
  vertical-align: middle;
}