$border-text: var(--side-border);
$sub-text: var(--text-primary);
$value-text: var(--text-secondary);
$title-text: var(--text-contrast);

@mixin flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-container {
  position: relative;
  min-height: 40rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

#header {
  text-align: center;
  color: $title-text;
  font-family: "Noto Sans";
  font-style: normal;
  user-select: none;
}

#header-title {
  color: $title-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
}

#header-subtext {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: $title-text;
}

.details-container {
  box-sizing: border-box;
  border: 1px solid $border-text;
  border-radius: 12px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.details-first-row {
  @include flex-row;
  justify-content: space-between;
}

.details-first-row-label-column {
  margin-left: 5%;
  font-family: "Noto Sans";
  user-select: none;
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $title-text;
    margin: 0;
  }
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $sub-text;
  }
}

.details-first-row-value-column {
  text-decoration: none;
  margin-right: 5%;
  border: 1px solid $sub-text;
  color: $value-text;
  border-radius: 12px;
  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  user-select: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;

  @media only screen and (min-width: 768px) {
    &:hover {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 768px) {
    opacity: 1;
  }

  span {
    display: inline-block;
    margin: 0.5rem 1.5rem;
  }
}
