$border-text: var(--side-border);
$sub-text: var(--text-primary);
$value-text: var(--text-secondary);
$label-text: var(--border-primary);
$title-text: var(--almost-contrast);
$border-bottom-first-row: var(--border-secondary);

.page-container {
}

#header {
  &#header-title {
  }
  &#header-subtext {
  }
}

.details-container {
}

.details-first-row {
}

.details-row {
}

.details-label-column {
}

.details-value-column {
}
