.screen-container {
  width: 100vw;
  height: 100vh;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 24px;
  background: #333333;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 660px;
  display: flex;
  justify-content: flex-end;
}

.main-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: NotoSansRegular;
  font-style: normal;
  color: #e0e0e0;
}

header > h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

header > h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.auth-container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.auth-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: clamp(65%, 357px, 90%);
}

#submitBox {
  flex: 1;
  width: clamp(65%, 357px, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: clamp(80%, 220vw, 100%);
  font-family: NotoSansRegular, "FontAwesome";
  height: 45%;
  min-height: 40px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-left: 5px;
}

input[type="password"]::placeholder,
input[type="email"]::placeholder{
  padding-left: 4px;
}

input[type="submit"] {
  background-color: #2f80ed;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: NotoSansRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

input[type="submit"]:hover {
  cursor: pointer;
}

footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 20%;
  margin-top: 5%;
}

.social-profile-paragraph {
  flex: .1;
  text-align: center;
  font-family: NotoSansRegular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

#social-profiles {
   width: 90%;
   flex: 1;
   align-items: center;
   justify-content: space-evenly;
   list-style-type: none;
   display: flex;
   flex-direction: row;
}

.social-login {
  flex: .8;
  text-align: center;
  font-family: NotoSansRegular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

#social-profiles > li:hover{
  cursor: pointer;
}