$limit-font-mobile-width: 600px;

.side-menu-container {
  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.side-menu-span-info {
  font-size: 16px;
  display: inline-block;
  @media screen and (max-width: $limit-font-mobile-width) {
    display: none;
  }

  span:last-child {
    font-size: 25px;
    font-weight: bold;
  }
}
